{% extends 'tasks/base.html' %}
{% block content %}

<br>
        <div class="container w-100 h-100">
        <div class="row align-items-center h-100">
          <div class="col-md-12">
                    <div class="card card-body text-center">

                        <p>Вы уверены, что хотите удалить событие "{{item}}"?</p>
                        <form  action="" method="POST">
                            {% csrf_token %}
                            <a class="btn btn-warning" href="{{request.META.HTTP_REFERER}}">Назад</a>

                            <input class="btn btn-danger" type="submit" value="Удалить"/>
                        </form>
            </div>
		</div>
	</div>
</div>


{% endblock content %}