{% extends 'tasks/base.html' %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
{% endblock head %}
{% block content %}
    <div class="container w-100 h-100">
        <div class="row align-items-center h-100">
          <div class="col-md-12">
            <form class="form" action="" method="POST">
                {% csrf_token %}
                    <div class="row">
                        <div class="container col-4">
                            <div class="card card-body" id="order_card">
                                <div class="row">
                                    {% if type == 'create' %}
                                        <h6 class="text-center col-12 mb-0">Новое событие</h6>
                                    {% else %}
                                        <h6 class="text-center col-12 mb-0">Изменение события</h6>
                                    {% endif %}
                                </div>
                                <div class="dropdown-divider mb-3"></div>
                                {{ form }}
                                <div class="dropdown-divider mb-3"></div>
                                <div class="container-fluid">
                                    {% if type == 'create' %}
                                        <div class="form-group row align-items-center">
                                            <button type="submit" class="btn btn-primary btn-lg btn-block">Создать</button>
                                        </div>
                                    {% else %}
                                        <div class="form-group row align-items-center">
                                            <button type="submit" class="btn btn-primary btn-lg btn-block">Изменить</button>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
          </div>
          </div>
          </div>
{% endblock %}

{% block scripts %}
    <script>
    window.addEventListener("DOMContentLoaded", function () {
        flatpickr(".datetimefield", {
            enableTime: true,
            "locale": "ru",
            dateFormat: "d.m.Y H:i",
        });
    });
    </script>
{% endblock scripts %}